{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlaStats</title>
    <link rel="stylesheet" href="{% static 'main/css/anal_style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav class="container_section container">
            <div class="nav_left">AlaStats</div>
            <div class="nav_right">
                <ul class="nav_list">
                    <li class="nav_list_item"><a href="{% url 'main' %}">Главная</a></li>
                    <li class="nav_list_item"><a href="{% url 'analytics' %}">Аналитика</a></li>
                    <li class="nav_list_item"><a href="{% url 'recomendations' %}">Рекомендации ИИ</a></li>
                    <li class="nav_list_item"><a href="{% url 'private_requests' %}">Частые запросы</a></li>
                    <li class="nav_list_item"><a href="{% url 'upload' %}">Загрузить файл</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container container_height">
        <main class="graphs">
            <div class="graph">
                <h3 class="graph-title">Аналитика</h3>
                <select id="chartSelect" class="chart-select">
                    <option value="default">Выберите график</option>
                    <option value="chartDiz">Артикул дизайнера</option>
                    <option value="chartDizs">Артикулы дизайнеров</option>
                    <option value="chartCategory">Категория</option>
                    <option value="chartCategorys">Категории</option>
                    <option value="chartGood">Товар</option>
                    <option value="chartGoods">Товары</option>
                </select>

                <div id="extraInput" class="hidden">
                    <input type="text" id="itemInput" placeholder="Введите название или артикул" />
                </div>

                <div class="chart-container">
                    <canvas id="mainChart"></canvas>
                </div>
                <button id="toggleChart" class="toggle-btn">Переключить</button>
            </div>
        </main>


        <footer class="footer">
            <div class="footer_content">
                <span>VK | TG</span>
            </div>
        </footer>
    </div>

    <script src="{% static 'main/js/script2.js' %}"></script>
</body>
</html>
