{% extends 'main/base.html' %}
{% block title %}
Название
{% endblock %}

{% load static %}
{% block css %}
"{% static 'main/index.css' %}"
{% endblock %}
{% block content %}
    <main>
        <section class="stat-summary">
            <h2>Основная информация</h2>
            <div class="summary-item">
        {% if total_profit is not None %}
        <span class="summary-label">Общая прибыль:</span> <span class="summary-value">{{ total_profit }}₽</span>
        {% endif %}
            </div>
            <div class="summary-item">
            </div>
        </section>
        <section class="charts">
            <h2>Графики</h2>
            <div class="chart-container">
                <div class="chart" id="chart2">
                    <h3>График 1</h3>
                    <div class="chart-box">Здесь будет график</div>
                </div>
            </div>
        </section>

    <h1>Загрузите Excel-файл</h1>

    <form action="{% url 'main' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div style="margin-bottom: 10px;">
        <input type="file" name="file" accept=".xlsx" style="width: 100%;">
    </div>
    <div>
        <button type="submit" class ="apply-filters" style="width: 10%;">Загрузить</button>
    </div>
    </form>
    </main>
{% endblock %}
